@media screen and (max-width: 1200px) {
    #experience {
        grid-column: span 5;
    }
    #projects {
        grid-column: span 7;
    }
    #skills-matrix-section {
        grid-column: span 8;
    }
    #education {
        grid-column: span 4;
    }
}
@media screen and (max-width: 1024px) {
    #skills-matrix-section {
        grid-column: span 6;
    }
    #education {
        grid-column: span 6;
    }
    #name {
        font-size: 3rem;
    }
}
@media (max-width: 832px) {
    .project-link-btn span {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    #experience {
        grid-column: span 12;
    }
    #projects {
        grid-column: span 12;
    }
    #skills-matrix-section {
        grid-column: span 12;
    }
    #education {
        grid-column: span 12;
    }
    header {
        margin-bottom: 2rem;
        grid-template-columns: 1fr;
    }
    .projects-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .container {
        gap: 1.5rem;
    }
    #name {
        font-size: 2.5rem;
    }
    #title {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}
@media screen and (max-width: 640px) {
    .launch-button{
        padding: 0.5rem 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    #name {
        font-size: 2rem;
    }
    #title {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
@media screen and (max-width: 480px) {
    #name {
        font-size: 1.5rem;
    }
    #title {
        font-size: 1rem;
        line-height: 1.275rem;
    }
    #picture{
        width: 5rem;
        height: 5rem;
    }
}
